*{margin: 0;padding: 0;}

.header{
	width: 100%;
	height: 55px;
	background-color: #5ac0ce;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 10;
}
.midle_box{
	width: 50%;
	height: 48px;
	left: 0;top: 0;right: 0;
	margin: auto;			
	padding-top: 4px;
	/*border: 1px black solid;*/
	position: fixed;
	display: inline-flex;
	transform: translateX(10%);
	
}
	.a{background: #54a7b3;color:white; width: 48%;height:90%; border-radius: 8px;line-height: 45px;text-align: center;
		font-size:6.5vmin;z-index:1;position:absolute;left:0;}
	.b{background:#ffffff;color: #5ac0ce;width: 48%;height:90%;border-radius: 8px;line-height: 45px;text-align: center; 
		font-size: 6.5vmin;z-index:2;position:absolute;left:44%;}

.footer{
	width: 100%;
	display: flex;
	height: 74px;
	justify-content: space-around;
	background-color: #f9fafc;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
}

.choose{
	width: 100%;
	
	border-bottom: 1px solid #ccc;
	display: flex;
}
	.dropdown1{
		width: 33%;
		height: 58px;
	
		display: flex;
		align-items: center;
		
        border-right: 1px transparent solid;
        border-image: linear-gradient(white,white,#999999,#999999,white,white)6;
	}
	.dropdown2{
		width: 33%;
		height: 58px;
		border-right: 1px transparent solid;
        border-image: linear-gradient(white,white,#999999,#999999,white,white)6;
		display: flex;
		align-items: center;
	}
	.dropdown3{
		width: 33%;
		height: 58px;
		/*border-right: 1px transparent solid;
        border-image: linear-gradient(white,white,#999999,#999999,white,white)6;*/
		display: flex;
		align-items: center;
	}
	
	.btn-info{
		
		flex: 1;
		font-size: 20px;
		outline: none;
		background-color:transparent;
        border-style:none;

            position: relative;
    display: inline-block;
    width: 150px;
    height: 25px;
	}
	.caret{
		
		cursor: pointer; 
		float: right;
		margin-right: 10px;
	        transform: translateY(300%);
	    border-top: 4px dashed; 
	    border-right: 4px solid transparent;
	    border-left: 4px solid transparent;
		
	}
	.select1{
		font-size: 20px;
		outline: none;
		border: none;
		flex: 1;
	}
	.cur-select{
		    position: absolute;
    display: block;
    width: 150px;
    height: 25px;
    line-height: 25px;
    background: #f80 url(ico-arrow.png) no-repeat 125px center;
    text-indent: 10px;
	}
	.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

	.big_box{
		width: 100%;
		position: relative;
		top: 54px;
		/*border: 1px solid gray;*/
	}
	.content{
		width: 100%;
		/*border: 1px solid #ff5841;*/
	}
	.service_date{
		width: 100%;
		padding-top: 10px;
		color: gray;
	}
	.service_time{
		width:70%;float:left;font-size: 18px; overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
	}
	.price{
		width:30%;color: red;
		margin-bottom: 5px; 
		float:left;
		font-size: 18px;
		margin-right:0px;
		overflow: hidden;text-overflow: ellipsis;white-space: nowrap;
		
	}
	.location{
		width: 100%;
		padding-top: 20px;
		color: gray;
		padding-bottom: 10px;
		border-bottom: 1px solid #ccc;
	}

	.big_locate{
		width:48px;
		height:48px;/*给元素设置宽高*/
		float: right;
		display: inline-flex;
		background:url("sprite.png") scroll 0px 0px no-repeat transparent;/*引入雪碧图*/
		transform: scale(0.5);
	}
	.calendar_pic{
		width:42px;
		height:35px;/*给元素设置宽高*/
		background:url("sprite.png") scroll 0px 0px no-repeat transparent;/*引入雪碧图*/
		background-position: 12px -240px;
		transform: scale(0.7);
		float: left;
		margin-right: 6px;
	}
	.locat_pic{
		width:42px;
		height:35px;/*给元素设置宽高*/
		background:url("sprite.png") scroll 0px 0px no-repeat transparent;/*引入雪碧图*/
		background-position: 14px -144px;
		transform: scale(0.8);
		float: left;
		margin-right: 4px;
	}
	.float_box{
		float: left;
	}
	.home_box{
		width:50px;
		height:50px;/*给元素设置宽高*/ 
		background:url("sprite.png") scroll 0px 0px no-repeat transparent;/*引入雪碧图*/
		background-position: 0px -79px;
		transform: scale(0.7) ;
		
	}
	.write_box{
		width:100px;
		height:100px;/*给元素设置宽高*/
		background:url("sprite.png") scroll 0px 0px no-repeat transparent;/*引入雪碧图*/
		background-position: 0px -300px;
		transform: scale(0.75) translateY(-20%) ;

		
	}
	.man_box{
		width:50px;
		height:50px;/*给元素设置宽高*/
		background:url("sprite.png") scroll 0px 0px no-repeat transparent;/*引入雪碧图*/
		background-position: -70px 0px;
		transform: scale(0.7) ;
	}
	.p1{
		color: #8accd4;
		padding-left:9px;
		transform: translateY(-10%);
	}

	.p2{
		color: gray;
		padding-left:10px;
		transform: translateY(-10%);
	}


.btn-select {
position: relative;
display: inline-block;
/*height: 25px;*/
width: 100%;
text-align: center;
font: 20px "Microsoft YaHei";

}

.btn-select .cur-select {
position: absolute;
display: block;
width: 150px;
height: 25px;
line-height: 25px;
background: #f80 url(ico-arrow.png) no-repeat 125px center;
text-indent: 10px;
}

/*.btn-select:hover .cur-select {
background-color: #f90;
}*/

.btn-select select {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 25px;
opacity: 0;

font: 20px "Microsoft YaHei";
color: #f80;
}

/*.btn-select select option {
text-indent: 10px;
}

.btn-select select option:hover {
background-color: #f80;
color: #fff;
}
*/